body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.product-image {
  width: 100%;
  height: 200px; /* Sesuaikan dengan tinggi yang diinginkan */
  object-fit: cover;
}
.product-item {
  border: 10px solid black;
  border-radius: 10px;
  background: #DFA67B;
  padding: 10px;
  margin-bottom: 20px; /* Jarak antara card */
  transition: background-color 0.3s ease; /* Transisi efek hover */
  
}

.product-item:hover {
  background-color: #ffff; /* Warna latar belakang saat hover */
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.card-image {
  width: 100%;
  height: 200px; /* Sesuaikan dengan tinggi yang diinginkan */
  object-fit: cover;
}

.card-content {
  margin-top: 10px;
}

.card-name {
  font-weight: bold;
}

.card-price {
  margin-top: 5px;
}

button {
  margin-top: 10px;
}

.button-container {
  display: flex;
  gap: 8px; /* Menambahkan jarak horizontal antara tombol */
  margin-top: 8px; /* Menambahkan jarak vertikal antara tombol */
}

.product-form {
  max-width: 500px;
  margin: 0 auto;
}

.form-control {
  margin-bottom: 15px;
}

.footer {
  background-color: #FFD966;
  color: black;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

.footer p {
  margin: 0;
}

.carousel-item img {
  height: 300px;
  object-fit: cover;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.1);    

}
h1 {
  margin-bottom: 20px;
  color: #333;
}

p {
  margin: 20px 0; 
}

.btn {
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1); 
}

.btn:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in; 
}

.totals {
  font-weight: bold;
  text-align: right;
}

.thanks {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}